__pycache__
admin
utils
archive/data
data/original_labelled/orig
data/original_labelled/split
data/original_labelled/split_corrected
data/batch1/orig
data/batch1/split
data/batch2
data/split_data/train/images
data/split_data/test/images
hpc_backup_*
logs
plan.txt
*.pkl
*.h5